.wrapper{
    padding: 10px;
    word-wrap: break-word;
}

.wrapper__big {
    max-width: 1184px;
}

.wrapper__sml {
    max-width: 350px;
}

.wrapper_medium {
    max-width: 600px;
}

.wrapper__center{
    margin: 0 auto;
}

@media all and (max-width: 900px) {
    .wrapper{
        padding: 20px;
    }
}