.Book-Mark-Form_updation {
    background: rgb(255, 255, 255);
    font-family: Verdana, sans-serif;
    width: 100%;
    padding: 0;

    & .Book-Mark-Form__title{
        display: none;
    }

    & .Book-Mark-Form__element {
        position: relative;
        margin-bottom: 15px;
    }

    & .Book-Mark-Form_error {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 12px;
        transform: translateY(100%);
        color: rgb(87, 8, 8);
    }

    & .input-text__label{
        font-size: 14px;
        margin-bottom: 5px;
        color: rgb(78, 78, 78);
        text-transform: lowercase;
        color: rgb(63, 105, 101);
    }

    & .input-text__element{
        padding: 10px;
        font-size: 14px;
        color: rgb(78, 78, 78);
        border: 1px solid rgb(63, 105, 101);
        border-radius: 5px;
    }

    & .Tags-input{
        padding: 10px;
        position: relative;
        z-index: 2;
        border: 1px solid rgb(63, 105, 101);
        border-radius: 5px;
    }

    & .Tags-input-label {
        font-size: 14px;
        margin-bottom: 5px;
        color: rgb(63, 105, 101);
        text-transform: lowercase;
    }

    & .Tags-input__field {
        font-size: 14px;
        color: rgb(78, 78, 78);  
    }

    & .Tags-input-suggestion{
        z-index: 1;
        background: rgb(255, 255, 255);
        border-radius: 3px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        box-shadow: -1px 8px 30px -4px rgba(198, 198, 198, 0.56); 
    }

    & .Tags-input-suggestion div{
        padding: 10px;
    }

    & .Book-Mark-Form_btn {
        margin-top: 25px;
        color: rgb(199, 223, 218);
        font-size: 14px;
        padding: 12px 10px;
        background: rgb(83,135,122);
        text-align: center;
        text-transform: capitalize;
        border-radius: 5px;
    }  
}


@media all and (max-width: 900px) {
}
