.tag{
    position: relative;
    font-size: 14px;
    text-transform: lowercase;
    border: 1px solid black;
    border-radius: 3px;
    padding: 3px 20px 3px 3px;

}
.tag__btn{
    position: absolute;
    top: 50%;
    right: 3px;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
}
.tag__btn::before{
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(45deg);
    width: 100%;
    height: 1px;
    background: black;
}
.tag__btn::after{
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 1px;
    height: 100%;
    background: black;
}