.Book-Mark-Form_inline-updation {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100%;
    padding: 0;
}

.Book-Mark-Form__element{
    margin-bottom: 5px;
}

.Book-Mark-Form__element:last-child{
    margin-bottom: 0px;
}

.Book-Mark-Form__element_shrink {
    flex: 1 1 auto;
}

.Book-Mark-Form_inline-updation .form-element__wrapper{
    position: relative;
    padding-left: 30px;
}

.element__edit{
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.element__edit::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 100;
}

.form-element__wrapper:hover .element__edit::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    z-index: 100;
}

.element__edit_hidden {
    display: none;
}

.element_error {
    display: block;
    position: absolute;
    bottom: 0;
    right: 5px;
    transform: translateY(100%);
    font-size: 12px;
    text-align: right;
    color: rgb(87, 8, 8);
}

.element__input_hidden{
    display: none;
}

.element__title{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(82,136,131);
}

.element__title_hidden{
    display: none;
}

.element__url a, 
.element__url a:visited, 
.element__url a:link, 
.element__url a:active{
    text-decoration: none;
    color: rgb(147,180,156);
    font-style: italic;
    font-size: 16px;
    text-transform: lowercase;
}

.element__tags {
    position: relative;
}

.element__tag{
    padding: 2px;
    margin-right: 3px;
    margin-bottom: 3px;
    display: inline-block;
    border-color: rgb(36,70,109);
    color: rgb(36,70,109);
    font-size: 14px;
    border-radius: 0px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.element__tag .tag__btn{
    display: none;
}

input[type="text"].element__input{
    display:  block;
    width: 100%;
    padding: 5px;
    font-size: 14px;
    color: rgb(78, 78, 78);
    border: 1px solid rgb(63, 105, 101);
    border-radius: 5px;
    outline: none;
    margin: 7px 0;
}

.Book-Mark-Form_inline-updation .Tags-input{
    padding: 5px;
    position: relative;
    z-index: 2;
    border: 1px solid rgb(63, 105, 101);
    border-radius: 5px;
    margin: 7px 0;
}

.Book-Mark-Form_inline-updation .Tags-input-label {
    display: none;
}

.Book-Mark-Form_inline-updation .Tags-input__field {
    font-size: 14px;
    color: rgb(78, 78, 78);  
}

.Book-Mark-Form_inline-updation .Tags-input-suggestion{
    z-index: 100;
    background: rgb(255, 255, 255);
    border-radius: 3px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: -1px 8px 30px -4px rgba(198, 198, 198, 0.56); 
}

.Book-Mark-Form_inline-updation .Tags-input-suggestion div{
    padding: 10px;
}

