.color-mode-change{
    display:  block;
    position:  fixed;
    top: 10px;
    right: 10px;
    width: 80px;
    height:  40px;
    border-radius: 30px;
    cursor: pointer;
    z-index: 100;
}

.color-mode-change_light{
    background-color: rgba(169, 204, 197, 0.692);
    transition: 1s;
}

.color-mode-change_light .color-mode-change__toggle {
    display:  block;
    position:  absolute;
    background-color: rgb(255, 255, 255);
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    width: 30px;
    height:  30px;
    border-radius: 50%;
}

.color-mode-change_dark .color-mode-change__toggle {
    display:  block;
    position:  absolute;
    background-color: #9e9e9e;
    top: 50%;
    left: 5px;
    transform: translate(0, -50%);
    width: 30px;
    height:  30px;
    border-radius: 50%;
}

.color-mode-change__logo {
    display:  block;
    position:  absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height:  30px;
    border-radius: 50%;
}

.color-mode-change__logo img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
}

.color-mode-change__logo_left{
    left: 5px;
}

.color-mode-change__logo_right{
    right: 5px;
} 

.color-mode-change_dark{
    background-color: #3b3b3b;
    border: 1px solid  #9e9e9e;
    transition: 1s;
}




