.Book-Mark-Form_creation {
    background: rgb(255, 255, 255);
    padding: 30px;
    font-family: Verdana, sans-serif;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 14px -1px rgba(179, 179, 180, 0.58);

    & .Book-Mark-Form__title{
        font-size: 24px;
        text-transform: uppercase;
        text-align: center;
        color:#748194;
        // color: rgb(83,135,122);
        margin-bottom: 60px;
    }

    & .Book-Mark-Form__element {
        position: relative;
        margin-bottom: 15px;
        
    }

    & .Book-Mark-Form_error {
        position: absolute;
        bottom: 0;
        right: 20px;
        font-size: 12px;
        transform: translateY(100%);
        color: rgb(87, 8, 8);
    }

    & .input-text__label{
        font-size: 14px;
        margin-bottom: 5px;
        color: rgb(78, 78, 78);
        text-transform: uppercase;
        padding-left: 20px;
    }

    & .input-text__element{
        // padding: 10px;
        // font-size: 14px;
        // color: rgb(78, 78, 78);
        // border: 1px solid rgb(112, 112, 112);
        // border-radius: 5px;
        padding: 15px 20px;
        border-radius: 5px;
        border: none;
        background: #e9ebec;
        color: #748194;
        font-size: 14px;
    }

    & .Tags-input{
        padding: 15px 20px;
        border-radius: 5px;
        border: none;
        background: #e9ebec;
        color: #748194;
        font-size: 14px;
        position: relative;
        z-index: 2;
     
    }

    & .Tags-input-label {
        font-size: 14px;
        margin-bottom: 5px;
        color: rgb(78, 78, 78);
        text-transform: uppercase;
        padding-left: 20px;
    }

    & .Tags-input__field {
        font-size: 14px;
        color: #748194;
        background: none;
       
    }

    & .Tags-input-suggestion{
        z-index: 1;
        background: rgb(255, 255, 255);
        border-radius: 3px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        box-shadow: -1px 8px 30px -4px rgba(198, 198, 198, 0.56);
        
    }

    & .Tags-input-suggestion div{
        padding: 10px;
    }

    & .Book-Mark-Form_btn {
        margin-top: 25px;
        margin-bottom: 60px;
        color: rgb(199, 223, 218);
        font-size: 14px;
        padding: 15px 20px;
        background: rgb(83,135,122);
        text-align: center;
        text-transform: capitalize;
        border-radius: 5px;
    }  
}


@media all and (max-width: 900px) {
    .Book-Mark-Form_creation {
        width: 100%;
        padding: 40px;
        margin: 0 auto;
    
    }
}

@media all and (max-width: 425px) {
    .Book-Mark-Form_creation {
        padding: 30px 15px;
        margin: 0 auto;

        & .Book-Mark-Form__title{
            font-size: 24px;
        }
    }
}
