
.book-mark {
    position: relative;
    background: rgb(255, 255, 255);
    height: 100%;
    border-bottom-right-radius: 15px;
    animation-duration: 3s;
    /* animation-name: opasity; */
}

@keyframes opasity {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.book-mark::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    background: rgb(63, 105, 101);
}

.book-mark__content {
    height: 100%;
    padding: 10px 50px 10px 10px;
}

.book-mark__element_shrink{
    flex: 1 1 auto;
}

.book-mark__edit {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.book-mark__edit_hidden {
    display: none;
}

.book-mark__title{
    padding-left: 30px;
    position: relative;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(82,136,131);
    margin-bottom: 5px;
}

.book-mark__url {
    padding-left: 30px;
    position: relative;
    margin-bottom: 5px;
}

.book-mark__url a, 
.book-mark__url a:visited, 
.book-mark__url a:link, 
.book-mark__url a:active{
    text-decoration: none;
    color: rgb(147,180,156);
    font-style: italic;
    font-size: 14px;
    text-transform: uppercase;
}

.book-mark__tags {
    padding-left: 30px;
    position: relative;
}

.book-mark__tag {
    padding: 2px;
    margin-right: 3px;
    display: inline-block;
    border-color: rgb(36,70,109);
    color: rgb(36,70,109);
    font-size: 14px;
    border-radius: 0px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.book-mark__tag .tag__btn{
    display: none;
}

.book-mark__delete{
    position: absolute;
    top: 10px;
    right: 10px;
    color: rgb(106,35,27);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.book-mark__delete::before{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 100%;
    background-color: rgb(106,35,27);
    transform: translate(-50%, -50%) rotate(45deg);
}

.book-mark__delete::after{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 100%;
    background-color: rgb(106,35,27);
    transform: translate(-50%, -50%) rotate(-45deg);
}

.book-mark__update{
    position: absolute;
    bottom: 12px;
    right: 12px;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    cursor: pointer;
}

.logo{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}



