.BurgerSideBar_wrapper{
    position: fixed;
    top: 0;
    bottom: 0;
    height: auto;
    left: 0;
    z-index: 100;
    transition: all 800ms cubic-bezier(.8, 0, .33, 1);
}

.BurgerSideBar_wrapper__open{
    transform: translateX(0);
    background: rgb(169,204,197)
}

.BurgerSideBar_wrapper__close{
    transform: translateX(-100%);
    background: none;
}

.BurgerSideBar{
    width: auto;
    height: 100%;
    overflow-y: auto;
    position: relative;
    z-index: 2;
}

.BurgerSideBar_btn{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.507);
    background: rgba(169, 204, 197, 0.692);
    position: absolute;
    z-index: 100;
    transition: all 700ms cubic-bezier(.9, 0, .33, 1);
}

.BurgerSideBar_btn__open{
    top: 10px;
    right: -50px;
}

.BurgerSideBar_btn__close{
    top: 0px;
    right: 0px;
    background: none;
}

.BurgerSideBar_btn .line{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(255, 255, 255, 0.692);
    transition: all 700ms cubic-bezier(.9, 0, .33, 1);
}

.BurgerSideBar_btn .line.line__1 {
    width: 70%;
    height: 2px; 
}

.BurgerSideBar_btn .line.line__2 {
    height: 70%;
    width: 2px;
}

.BurgerSideBar_btn__close .line{
    transform: translate(-50%,-50%) rotate(45deg);
    background: rgb(83,135,122);
}

.BurgerSideBar_content-container{
    padding: 40px 40px; 
    transition: all 900ms cubic-bezier(.9, 0, .33, 1);
}

.BurgerSideBar_wrapper__open .BurgerSideBar_content-container{
    transform: translateX(0px);
}

.BurgerSideBar_wrapper__close .BurgerSideBar_content-container{
    transform: translateX(-60%);
}

@media all and (max-width: 900px) {
    .BurgerSideBar_wrapper{
        width: 100%;
    }
   
    .BurgerSideBar_content-container{
        padding: 40px 40px;
        width: 100%;
    }
}

