.tool-tip-wrapper {
    position: relative;
}
.tool-tip {
    position: absolute;
    width: 100%;
    background: rgb(228, 228, 228);
    background: #e9ebec;;
    bottom: -5px;
    left: 0px ;
    transform: translateY(100%);
    z-index: 500;
    border-radius: 5px;
    padding: 10px;
    text-transform: lowercase;
    color: #363636;
    color: #748194;
    color: rgb(75, 124, 119);
    animation-duration: 0.5s;
    animation-name: opasity;
} 

.tool-tip::before {
    display: block;
    content: '';
    position: absolute;
    top: 0px;
    left: 50%;
    width: 12px;
    height: 12px;
    background-color: rgb(228, 228, 228);
    background: #e9ebec;;
    transform: rotate(45deg) translateX(-50%);
}

.tool-tip_hidden {
    display: none;
}

@keyframes opasity {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}