.filtering-by-tags-controller {

    & > .Tags-input-label {
        font-size: 18px;
        text-transform: capitalize;
        padding-left: 30px;
 
        color: rgb(106,35,27);
        margin-bottom: 10px;
    }
}

.filtering-by-tags-controller >.Tags-input-wrapper {

    & .Tags-input{
        padding: 10px 30px;
        background-color: white;
        border-radius: 18px;
        border: none;
        box-shadow: 0px 0px 20px 0px rgba(63, 105, 101, 0.2);
    }

    & .Tags-input.Tags-input_open {
        border-radius: 8px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    & .Tags-input-suggestion {
        background-color: white;
        border-radius: 8px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        max-height: 500px;
        z-index: 99;
        box-shadow: 0px 5px 7px 2px rgba(63, 105, 101, 0.2);

        &::before {
            display: block;
            content: '';
            position: absolute;
            height: 1px;
            width: 100%;
            background: rgb(211, 218, 217);
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        & div {
            padding: 10px 30px;
            color: rgb(54, 54, 54);
        }

        & div:hover{
            background-color: rgba(201, 201, 201, 0.356);
        }


    }
}

 @media all and (max-width: 320px) {

    .filtering-by-tags-controller {
        & > .Tags-input-label {
            padding-left: 0px;
            text-align: center;
        }
    }    
 }


