.Tags-input-wrapper{
    position: relative;
}

.Tags-input{
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.Tags-input-suggestion{
    position: absolute;
    z-index: 100;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    width: 100%;
    max-height: 190px;
    overflow-y: auto;
}

.Tags-input__tag{
    flex: 0 0 auto;
    margin-right: 3px;
    margin-bottom: 3px;
}

.Tags-input__field{
    width: 40%;
    flex: 1 0 40%;
    border: none;
    outline: none;
}

.Tags-input__field:focus{
    outline: none;
}

