*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    word-break: break-all;
    word-wrap: break-word;
}

html, body {
    height: 100%;
}

 /* vertical grid */
 #root{
    display: flex;
    flex-direction: column;
}
.main{
    flex: 1 1 auto;
}
.header{
    flex: 0 0 auto;
}
/* ----------------- */


#root{
    min-height: 100%;
    position: relative;
}
.root_blocked::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.479);
}
.body_blocked {
    overflow: hidden;
}

.header__container{
    padding: 40px 0;
}
.main{
    padding-top: 10px;
}

@media all and (min-width: 901px) {
    ::-webkit-scrollbar {
        width: 5px;
    }
    ::-webkit-scrollbar-track {
        background: rgba(182, 182, 182, 0.596);
      }
    ::-webkit-scrollbar-thumb {
        background: #868686;
        border-radius: 10px;
      }

}
@media all and (max-width: 1024px) {
    .wrapper{
        max-width: 824px;
        padding: 10px;
    }

    .header__container {
        padding: 50px 0 20px 0;
    }
}

@media all and (max-width: 768px) {
    .wrapper{
        max-width: 100%;
        padding: 20px;
    }
}

@media all and (max-width: 425px) {
    .main{
        border-top-right-radius: 30px;
        border-top-left-radius: 30px
    }
}

