.color-mode {
  
    &.color-mode_dark {
         
        &#root {
            background: #515151;
        }

        & .BurgerSideBar_wrapper__open {
            background: #515151;
        }

        & .filtering-by-tags-controller{

            & .Tags-input {
                box-shadow: 0px 0px 8px -1px rgba(39, 39, 39, 0.58);
            }
            
            & .Tags-input-label{
                color: #c4c4c4;
            }

        }

        & .bookMark-table__element{
            box-shadow: none;
            box-shadow: 0px 0px 14px -1px rgba(39, 39, 39, 0.58);
        }

        & .Book-Mark-Form_creation{
            background: #3b3b3b;
            box-shadow: 0px 0px 8px -1px rgba(39, 39, 39, 0.58);

            & .Book-Mark-Form__title, & .input-text__label, & .Tags-input-label{
                color: #9e9e9e;
            }

            & .Book-Mark-Form_error {
                color: #c56161;
                bottom: -1px;
            }
        }

        & .book-mark {
            background: #3b3b3b;

            &::before {
                background: #9e9e9e;
            }

            & input.element__input{
                background-color: #e1e1e1;
                border-color: #e1e1e1;
            }

            & .element__input {
                
                & .Tags-input{
                    background-color: #e1e1e1;
                    border-color: #e1e1e1;

                    .Tags-input__field {
                        background-color: #e1e1e1;
                    }

                    .Tags-input__tag {
                        border-color: rgb(78,78,78);
                        color: rgb(78,78,78);
                    }
                }
            }

            & .element__title{
                color: #9e9e9e;
            }

            & .element__tag {
                color: #9e9e9e;
                border-color:#9e9e9e;;
            }

            & .element__edit::before {
                background-color: #3b3b3b;
            }

            & .element_error{
                color:  #c4512ef3;
            }

            & .form-element__wrapper:hover .element__edit::before {
                display: block;
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(255, 255, 255, 0);
                z-index: 100;
            }

            & .book-mark__delete {

                &::before, &::after{
                    background-color: #c4512ef3;
                }
            }
        }
    }
}