.bookMark-table{ 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -20px;
}

.element-wrapper{
    margin-bottom: 20px;
    margin-left: 20px;
    flex: 0 0 calc(100%/3 - 20px);
    padding-top: calc((100%/3 - 20px)/2);
    position: relative;
    border-bottom-right-radius: 15px;
}

.bookMark-table__element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* overflow-y: auto; */
    box-shadow: 0px 0px 14px -1px rgba(179, 179, 180, 0.58);
    border-bottom-right-radius: 15px;
}

@media all and (max-width: 1024px) {
    .element-wrapper{
        flex: 0 0 calc(100%/2 - 20px);
        padding-top: calc((100%/2 - 20px)/2);
    }
}

@media all and (max-width: 708px) {
    .element-wrapper{
        flex: 0 0 calc(100% - 20px);
        padding-top: 0;
    }
    .bookMark-table__element {
        position: relative;
        top: 0;
        left: 0;
        width: auto;
        height: auto;
    }
}